# SS14-Art CodeOwners
# Do not upstream

# Код

/Content.*/** @ReWAFFlution

# Прототипы

/Resources/Locale/** @Gr-avity
/Resources/Maps/** @Gr-avity
/Resources/Prototypes/** @ReWAFFlution
/Resources/Textures/** @Odleer

